//COLORS
$dark-grey: #24232C;
$grey: #817D92;
$almost-white: #E6E5EA;
$very-dark-grey: #18171F;
$neon-green: #A4FFAF;
$red: #F64A4A;
$orange: #FB7C58;
$yellow: #F8CD65;

//Typography
$font-family: "JetBrains Mono", monospace;
$font-weight: 700;
$font-size-heading-large: 32px;
$font-size-heading-medium: 24px;
$font-size-body: 18px;


$line-height-heading-large: 43px;
$line-height-heading-medium: 31px;
$line-height-body: 23px;

@mixin font() {
    font-family: $font-family;
    font-weight: $font-weight;
}

@mixin flex($direction, $gap) {
    display: flex;
    flex-direction: $direction;
    gap:$gap;
}
*, 
*::after,
*::before {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

//___________________________________________________
//STYLES FOR BODY, HEADER, MAIN AND SECTION ELEMENTS
//___________________________________________________

body {
    @include font();
    font-size: $font-size-body;
    background-color: $very-dark-grey;
    color: $almost-white;
    display: grid;
    place-content: center;
    min-height: 100vh;
    padding: 1rem;
}

header {
    text-align: center;
}
.password-card {
    @include flex(column, 1.5rem);
    .password-card__section {
        display:flex;
        gap:1rem;
        background-color: $dark-grey;
        padding: 1rem;

        &.password-card__result {
            
            .password-card__password {
                @include font();
                min-width: 0;
                background-color: $dark-grey;
                border:none;
                margin-right: auto;
                font-size: $font-size-heading-medium; 
                width:100%;
            
                //The problem, size of an input element increases with the increase in font-size.
                //So, do we have to set a fixed width here? Yes, i BELIEVE SO
                //bUT THE THING IS SETTING MAX-WIDTH DID NOT WORK, iT STILL CAUSES OVERFLOW, BUT IT IS THE WIDTH PROPERTY THAT SAVED ME
                //The reason seems like when I set width here, the width is set i respect to the parent, but when setting max-width, the width is still being set in respect to input 

                color: $almost-white;
                outline: none; //To remove the boder that appears
            }
            .password-card__copied-status {
                color: $neon-green;
            }
            .password-card__copy-icon {
                flex-shrink: 0; //the width 100% of input is affecting it, so we made the flex-shrink 0;
                fill : $neon-green;
               
                &:hover {
                    fill: $almost-white;
                    cursor: pointer;
                }
                &.password-card__copy-icon--copied {
                    cursor: pointer;
                }
            }
        }
        &.password-card__password-criteria {
            @include flex(column, 1rem);
            
        }
    }
}

//___________________________________________________
//STYLES FOR FORM ELEMENT AND ITS CHILDREN
//___________________________________________________

.password-card__form {
    @include flex(column, 1rem);
    
    .password-card__form-group {

        @include flex(row, 1rem);
        flex-wrap: wrap;

        &.password-card_length-criteria {
            
            justify-content: space-between;
            .password-card__password-length {
                color:$neon-green;
            }
            .password-card__range {
                    //styling the track
                    -webkit-appearance:none;
                    background: none;
                    height:8px;
                    width:100%;
                    background: $very-dark-grey;

                    //Adding the progress effect using the background
                    background-image: linear-gradient($neon-green, $neon-green);
                    background-size: 0 100%; //Initially 0% filled. If the default would have been 10 then we would have used 50% for width, if it would have been 5 then we would have used 25% because 5 is 25% of 20 and so on.
                    background-repeat: no-repeat;

                    //Styling the thumb
                    &::-webkit-slider-thumb {
                        -webkit-appearance:none; //Clear browser thumb
                        height:15px;
                        width:15px;
                        background-color: $almost-white;
                        border-radius: 50%;
                        cursor: pointer;

                        &:hover {
                            background-color: $very-dark-grey;
                            border: 0.125rem solid $neon-green;
                        }
        
                    }
                    &::-moz-range-thumb {
                        -webkit-appearance:none; //Clear browser thumb
                        height:15px;
                        width:15px;
                        background-color: $neon-green;
                        border-radius: 50%;

                        &:hover {
                            background-color: $very-dark-grey;
                            border: 0.125rem solid $neon-green;
                        }
                    }

            }

        }

         &.password-card__checkboxes {
            flex-direction: column;

            .password-card__label-checkbox{

                @include flex(row, 0.5rem);
                align-items: center;
                cursor: pointer;
                position: relative;

                .password-card__input-checkbox {
                    -webkit-appearance:none;
                    appearance: none;
                    height:1.25rem;
                    width:1.25rem;
                    border: 0.125rem solid $almost-white;
                    background: none;
                    cursor: pointer;
                   

                    &:checked {
                        background-color: $neon-green;
                        border-color: $neon-green;
                    }
                    &:hover {
                        border-color: $neon-green;
                    }
                }
                .password-card__checkbox-icon{
                    position: absolute; //This child although has positioning absolute, the align-items and justify-content property still apply to it.
                    left:0.15rem;
                    display: none;
                }

                .password-card__input-checkbox:checked + .password-card__checkbox-icon {
                    display: block;
                }
            }
         }
    }
}

//___________________________________________________
//STYLES FOR STRENGTH
//___________________________________________________
.password-card__password-strength {
    display:flex;
    justify-content: space-between;
    background-color: $very-dark-grey;
    padding: 0.5rem;

    .password-card__strength-label {
        color: $grey;
    }
    .password-card__strength-bars {
        display: flex;
        gap:0.5rem;
        .password-card__strength-bar{
            width:0.625rem;
            height:1.75rem;
            border: 0.125rem solid $almost-white;

            &.password-card__strength-bar--too-weak {
                background-color: $red;
                border-color: $red;
            }
            &.password-card__strength-bar--weak {
                background-color: $orange;
                border-color: $orange;
            }
            &.password-card__strength-bar--medium {
                background-color: $yellow;
                border-color: $yellow;
            }
            &.password-card__strength-bar--strong {
                background-color: $neon-green;
                border-color: $neon-green;
            }
        }
    }
}

//___________________________________________________
//STYLES FOR GENERATE BUTTON
//___________________________________________________
.password-card__generate-button {
    @include font();
    padding: 1rem 0;
    background-color: $neon-green;
    border:0;
    cursor: pointer;
    &:hover {
        background-color: $very-dark-grey;
        color: $neon-green;
        box-shadow: inset 0rem 0rem 0rem 0.125rem $neon-green; //We applied box-shadow instead of border-property to keep the border inside

        svg {
            fill: $neon-green;
        }
    }
}   

//One problem that I am unable to solve is that when the copied status
//appear, on larger screens the card grow, the only solution is absolute
//but I do not like that for smaller screen sizes. Maybe we can leave that for now
//But for now let us leave it.